main {
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ship-plural-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    background-color: black;
}

.ship-sing-box {
    background-color: rgb(88,88,88);
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    color: white;
}

table {
    text-align: left;
    border-collapse: separate;
    border-spacing: 35px 15px;
}

/* tbody tr:nth-child(even) {
    background-color: rgb(100,100,100);
} */

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    padding: 5px;
    background-color: rgb(120,120,120);
    border-radius: 15px;
}

.capitalize {
    text-transform: capitalize;
}