main {
    margin: auto;
    float: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(40,40,40);
}

.ship-plural-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
}

.ship-sing-box {
    background-color: rgb(88,88,88);
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    color: white;
}

table {
    text-align: left;
    border-collapse: separate;
    border-spacing: 35px 15px;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 15px;
}

.ship-plural-box div:nth-child(even) {
    background-color: rgb(120, 40, 40);
}

.ship-plural-box div:nth-child(odd) {
    background-color: rgb(39, 39, 121);
}

.altInfo div:nth-child(even) {
    color: rgb(150,150,150);
}

.italic {
    font-style: italic;
}

.capitalize {
    text-transform: capitalize;
}

#altName {
    background-color: transparent;
}
